@import "tailwindcss";
@plugin "daisyui" {
  themes: autumn;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-display: var(--font-fraunces), "Arial Narrow", Arial, sans-serif;
  --font-mono:
    var(--font-geist-mono), ui-monospace, "SFMono-Regular", Menlo, Consolas,
    monospace;
  --font-sans:
    var(--font-nunito), ui-sans-serif, system-ui, Arial, Helvetica, sans-serif;
}

@utility container {
  width: 100%;

  @variant sm {
    max-width: 40rem;
  } /* 640px */
  @variant md {
    max-width: 48rem;
  } /* 768px */
  @variant lg {
    max-width: 64rem;
  } /* 1024px */
  @variant xl {
    max-width: 80rem;
  } /* 1280px */
}
